<app-navbar></app-navbar>
<app-header></app-header>
<section class="pb-2">
  <h2 class="product-title pt-1 mb-1">Product</h2>
  <div class="con-product_inf container-fluid ps-5 pe-5 pt-3">
    <div class="row">
      <div class="d-flex align-items-center">
        <img
          src="../../assets/images/icons8-block-chain-24.png"
          alt="Document"
          class="img-svg pe-2"
        />
        <strong class="heads-color">Basic Information</strong>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="field col-4 md:col-4">
        <strong>
          <label for="Warehouse" class="color-text d-block pb-2"
            >Warehouse <span style="color: 'red'">*</span></label
          >
        </strong>
        <p-dropdown
          inputId="Warehouse"
          [autoDisplayFirst]="false"
          [options]="warehouse"
          [(ngModel)]="warehouseInput"
          [style]="{ minWidth: '23rem' }"
          optionLabel="name"
          placeholder="Select Warehouse"
          (onChange)="onChange($event)"
          [required]="true"
        >
        </p-dropdown>
      </div>
      <div class="field col-4 md:col-4">
        <strong>
          <label for="type" class="color-text d-block pb-2"
            >Type <span style="color: 'red'">*</span></label
          >
        </strong>
        <p-dropdown
          inputId="type"
          [autoDisplayFirst]="false"
          [options]="types"
          [(ngModel)]="typeInput"
          [style]="{ minWidth: '23rem' }"
          placeholder="Select UOM Type"
          (onChange)="changeType($event)"
          [disabled]="!disableInput"
          [required]="true"
        >
        </p-dropdown>
      </div>
      <div class="field col-4 md:col-4 d-flex align-items-end pb-2">
        <p-checkbox
          name="groupname"
          value="zeroBalance"
          [(ngModel)]="checkboxInput"
          [disabled]="!disableInput"
        ></p-checkbox>
        <span class="ps-2">Show Zero Balance</span>
      </div>
    </div>
    <div class="row d-flex justify-content-start align-items-center mt-4">
      <div class="col-4 md:col-4 d-flex flex-column">
        <div class="row mb-2">
          <strong class="heads-color">Product Classification</strong>
        </div>
        <div class="d-flex">
          <div class="first-radio">
            <p-radioButton
              name="groupname"
              value="all-product"
              [(ngModel)]="radioInput"
              inputId="all-product"
              [disabled]="!disableInput"
              (onClick)="showProduct()"
            ></p-radioButton>
            <label for="all-product" class="ps-1">All Product</label>
          </div>
          <div class="second-radio">
            <p-radioButton
              name="groupname"
              value="specific-Product"
              [(ngModel)]="radioInput"
              inputId="Specific-Product"
              [disabled]="!disableInput"
              (onClick)="showProduct()"
            ></p-radioButton>
            <label for="Specific-Product" class="ps-1">Specific Product </label>
          </div>
        </div>
      </div>
      <div [style]="styleProduct" class="col-6 md:col-4 flex-column">
        <strong for="type" class="color-text d-block pb-2">
          Product <span style="color: 'red'">*</span>
        </strong>
        <p-multiSelect
          [options]="productsList"
          [(ngModel)]="selectedProduct"
          defaultLabel="Select a Product"
          optionLabel=""
          display="chip"
          [style]="{ minWidth: '30rem' }"
          (onChange)="disableButton()"
        ></p-multiSelect>
      </div>
    </div>
    <div class="mt-5 me-5 d-flex align-items-center justify-content-end">
      <p-button
        label="Submit"
        type="Submit"
        [loading]="loading[3]"
        (onClick)="load(3)"
        [disabled]="buttonDisabled"
      ></p-button>
    </div>

    <div class="">
      <div class="row pt-3">
        <div class="d-flex align-items-center">
          <img
            src="../../assets/images/icons8-document-24.png"
            alt="Document"
            class="img-svg pe-2"
          />
          <strong class="heads-color">Products Details</strong>
        </div>
      </div>
      <hr />
    </div>

    <div class="row mt-5">
      <p-table
        #dt2
        [value]="tableContent"
        dataKey="id"
        [rows]="10"
        responsiveLayout="scroll"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-customers"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'price', 'Type']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="name"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="price"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="Type"> </p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-products>
          <tr>
            <td>
              {{ products.name }}
            </td>
            <td>
              <span class="image-text">{{ products.price }}</span>
            </td>
            <td>
              <span class="image-text">{{ products.Type }}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td></td>
            <td
              class="imag-table d-flex align-items-center justify-content-center flex-column"
            >
              <img
                src="../../assets/images/icons8-folder-5002.png"
                width="300"
                height="240"
                alt="image"
              />
              <h4>Select Warehouse and Product</h4>
            </td>
            <td></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</section>

<app-footer></app-footer>
